html, a {
    -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5, p, li, ul {
	margin: 0;
	padding: 0;
}

body {
    background-color: #fff;
    font-size: 18px;  
	font-weight: 400;  
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    font-family: Arial; 
}
.form_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.progress_bar {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px auto;
	position: relative;
	z-index: 2;
	span {
		a {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
		&.active {
			color: rgb(64,199,129);
		}
	}
}

form {
	position: relative; 
	label {
		position: absolute;
		left: 0;
		font-size: 18px; 
		color: #000;
		padding: 10px 0;  
		&.error {
			position: relative;  
			display: block; 
			margin-left: 100px;
			color: red;    
			font-size: 16px; 
			margin-top: 2px;
			width: 224px;
			padding: 0; 
		}
	} 
	p {
		margin-bottom: 10px;
		span {
			position: relative;  
			display: block; 
			margin-left: 100px;   
			font-size: 16px; 
			margin-top: 2px;
			width: 224px;
			padding: 0;  
		}
	}
	.parSubm {
		margin-bottom: 0;
		margin-top: 20px;
	}
	input {
		margin-left: 100px; 
		font-size: 18px;
		border: 1px solid black;
		border-radius: 4px;  
		outline: none;
		padding: 10px 0 10px 5px;
		background-color: #fff;
		&.submit {
			color: white; 
			text-decoration: none; 
			padding: 0 15px; 
			height: 35px; 
			line-height: 35px; 
			border-radius: 3px; 
			background: rgb(64,199,129);  
			box-shadow: 0 -3px rgb(53,167,110) inset;
			transition: 0.2s;
			border: none;
			cursor: pointer; 
			  &:hover {
			  	 background: rgb(53, 167, 110); 
			  }
		}
	}
	&#stepThree {
		input { 
			border: none; 
			width: 300px; 
			&.submit {
				width: initial;
			} 
		} 
	}
} 
.to_prev_page {
	color: white; 
	text-decoration: none; 
	padding: 0 15px;
	height: 35px;
	line-height: 35px; 
	border-radius: 3px;
	background: rgb(64,199,129);  
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s; 
	border: none; 
	cursor: pointer;   
	position: absolute;
	left: 0;
	bottom: 0;
	  &:hover {
	  	 background: rgb(53, 167, 110);
	  }
}


input:disabled, textarea:disabled {
    color: #000;
}

@media screen and (max-width: 415px) {
	form {
		input {
		    margin-left: 85px;
		    width: 153px;
		    &.submit {
		    	width: initial; 
		    }
		}
	    label.error { 
			width: 153px; 
			margin-left: 85px; 
		}
		p span {
			width: 153px; 
			margin-left: 85px;
		}
		&#stepThree {
			input { 
				border: none; 
				width: 150px;  
				&.submit {
					width: initial;
				} 
			} 
		}
	}

}

@media screen and (max-height: 525px) {
	.progress_bar { 
		position: absolute; 
		width: 50px;  
		right: 0; 
		margin: 0 20px 0 0; 
		top: 50%; 
		transform: translateY(-50%);
		span {
			display: block; 
		    width: 100%;
    		margin-bottom: 20px;
		}
	}
}